.modal-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: modal-show 1s;
}
.modal-container.close {
  animation: modal-hide 1s;
}
.modal-background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.modal-contents {
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
  padding: 2px;
}

.club-title-box {
  position: relative;
  padding: 16px 64px 16px 16px;
  background-color: #f1f1f1;
  font-weight: 700;
  text-align: center;
}
.club-info-box {
  display: flex;
  padding: 15px;
  border-bottom: 1px solid rgb(179, 177, 177);
  border-top: 1px solid rgb(179, 177, 177);
}
.club-img-box {
  width: 300px;
  height: 250px;
}
.club-img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.club-details {
  /* margin: auto 10px auto auto; */
  margin: auto;
}
.club-detail-title-font {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
}
.detail-box {
  padding: 5px;
}
.club-descript {
  padding: 15px;
}

.modal-close-btn {
  display: block;
  width: 50px;
  padding: 5px;
  margin: 10px auto;
  font-size: 16px;
}
@keyframes modal-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes modal-hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
